<div *ngIf="isPopupVisible" class="container">
    <h1 class="heading">Receipt</h1>
    <div style="padding: 10px;">
        <h3 style="text-align: center">Sale No: 32454</h3>
        <div>Date: </div>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>Product</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </tbody>
        </table>
        <button style="width: 100%; margin-top: 20px;">Close</button>
    </div>
</div>