<div style="display: grid; grid-template-columns: 40% 60%; padding: 0 20px">
    
    <app-cart></app-cart>

    <!-- Product lIst -->
    <div style="display: grid; grid-template-columns: auto auto auto auto auto auto; grid-gap: 20px; padding: 20px 40px">
        <div *ngFor="let item of products" style="border-radius: 8px; overflow: hidden;">
            <div style="text-align: center; background-color: white; padding: 10px 5px;">
                <div> {{item.name}} </div>
                <img [src]="item.image" width="100%" height="80px" alt="">
            </div>
        </div>
    </div>

    <app-receipt></app-receipt>
</div>